--- 
title: I’m Zack.
id: index
---

%p.copy
  I’m a hacker, and I love to build stuff for the Web.

%nav#links
  %ul
    %li.first
      %a{:rel => "foaf:weblog", :href => "http://blog.zacharyvoase.com/"} Blog
    %li
      %a{:rel => "foaf:page", :href => "http://twitter.com/zacharyvoase"} Twitter
    %li
      %a{:rel => "foaf:page", :href => "http://github.com/zacharyvoase"} GitHub
    %li
      %a{:rel => "foaf:page", :href => "/resume/"} Résumé
    %li
      %a{:rel => "foaf:mbox", :href => "mailto:z@zacharyvoase.com"} E-mail
