--- 
title: Résumé
id: resume
---

%h1 Résumé

%nav#outline
  %ul
    %li.first
      %a{:href => "#info"} Info &amp; Contact
    %li
      %a{:href => "#profile"} Profile
    %li
      %a{:href => "#skills"} Skills
    %li
      %a{:href => "#experience"} Experience &amp; References
    %li
      %a{:href => "#education"} Education

%hr

%section#info
  %h2 Info

  %table
    %tr
      %th Name
      %td Zachary Voase
    %tr
      %th Website
      %td
        %a{:href => "http://zacharyvoase.com/"} zacharyvoase.com
    %tr
      %th Code
      %td
        %a{:href => "http://github.com/zacharyvoase"} http://github.com/zacharyvoase

%section#contact
  %h2 Contact

  %table
    %tr
      %th E-mail
      %td
        %a{:href => "mailto:z@zacharyvoase.com"} z@zacharyvoase.com
    %tr
      %th Skype
      %td
        %a{:href => "skype:zvoase?userinfo"} zvoase

%section#profile
  %h2 Profile

  %p
    I started using computers at a young age; the first programming language I
    learned was Scheme, and since then I’ve continuously invested in my
    repertoire. I’ve worked in various scenarios, on both open-source and
    proprietary software, remotely and on-site, and as a contractor and an
    employee. I feel this gives me a solid breadth of experience in interacting
    with people, which is often the most challenging aspect of development.
    I’ve usually acted as developer and system administrator, but have also
    engaged in smaller management, UI/UX and strategic roles.

  %p
    I am an active participant in several open-source communities, and have
    released many pieces of software myself (see
    <a href="http://github.com/zacharyvoase">my GitHub profile</a> for a full
    list). More recently I’ve begun to speak at user groups and conferences,
    and I’ve maintained an active
    <a href="http://blog.zacharyvoase.com/">blog</a> for over 2 years. The
    public scrutiny of OSS has helped me refine my programming and written
    communication practices; as a result of this exposure I’m now more
    disciplined in both my writing and coding overall.

  %section#aspirations
    %h3 Aspirations

    %p There are a few things I’m looking for in my career.

    %dl
      %dt Autonomy
      %dd
        This implies freedom: I need to be able to make decisions about
        my own work, and be involved in the decision-making process on
        projects in general. It therefore also implies trust and
        co-operation, which is hard to get from paranoid managers and
        organisations. I’m not a control freak, but I am allergic to
        inbox-driven development. I can come up with creative solutions to
        problems when I have the freedom to do so.

      %dt Growth
      %dd
        I have a persistent thirst for challenge, and get bored soon if I’m
        not improving myself. This means constantly evaluating the latest
        techniques and technologies to see if I can save time, money or
        effort—and sometimes just for the entertainment value. I actively
        seek opportunities to increase my impact through more significant
        roles and responsibilities.

      %dt Interaction
      %dd
        I believe people are the most important aspect of software
        development—not only users, who drive the business requirements, but
        colleagues, who share the codebase and with whom it’s important to
        have a good working relationship. In open-source software, a strong
        community is essential, since it is composed of both users
        <em>and</em> colleagues. Collaborating with stakeholders on a daily
        basis is how I stay focused and motivated.

  %section#style
    %h3 Style

    %p
      My coding style is quite idiosyncratic. I try, when I can, to adopt the
      idioms of the language I’m programming in, which is a valuable strategy
      to reduce a project’s ‘bus factor’. However, when solving a difficult
      problem, that sometimes isn’t an option. The solution to this must be
      clear documentation and comprehensive tests. I call what I do
      <em>considerate programming</em>: always keeping the other team members
      in mind (even if there aren’t any yet).

    %p
      I am also an outspoken practitioner of the UNIX philosophy. Wherever
      possible, I write small, modular components, with focused
      responsibilities, which operate to standard and universal interfaces.
      This is a battle-tested method of producing quality software which has
      worked for 30 years; the same principles still apply today, and I
      attempt to exercise them whenever I sit at a computer terminal.

    %p
      Process-wise, I adhere to the principles of Agile development in most
      cases. This means human-centric design, working software at every step,
      daily interaction with involved parties, and willingness to adapt. I
      believe that code without tests is essentially broken, as tests are the
      first port of call for quality assurance. I agree with Abelson &amp;
      Sussman on the value of semantics in code: <q>Programs must be written
      for people to read, and only incidentally for machines to execute.</q>

%section#skills
  %h2 Skills

  %p
    Most of my work up to this point has been in <strong>Python</strong>,
    using the <strong>Django</strong> web framework. I’m also experienced
    with <strong>Ruby</strong> and <strong>Rails</strong>. I develop
    exclusively on <strong>UNIX</strong> systems, and have done so for 5
    years now. I use <strong>Vim</strong> to write code, and
    <strong>Git</strong> to manage it (though I can also use
    <strong>Subversion</strong> and <strong>Mercurial</strong>).

  %p
    On the front-end, I’m very comfortable with <strong>JavaScript</strong>,
    especially with <strong>jQuery</strong>, and I can write cross-browser
    compatible <strong>HTML</strong> and <strong>CSS</strong>. Still, most of
    my styling is now done using <strong>Sass</strong> and
    <strong>Compass</strong>.

  %p
    I have a strong understanding of modern <strong>Web
    architecture</strong>, including the <strong>Semantic Web</strong>, the
    principles of <strong>REST</strong>, and <strong>HTTP</strong> itself.
    I’m familiar with a few common APIs, including <strong>Facebook</strong>,
    <strong>Twitter</strong> and <strong>OAuth</strong>.

  %p
    I’ve developed in <strong>Agile</strong> and <strong>Test-Driven
    Development</strong> contexts for 2 years.  Each team I’ve worked on
    has practised it differently, with varying elements of
    <strong>Scrum</strong>, <strong>Extreme Programming</strong> and
    <strong>Kanban</strong>. I take a lot of pride in my written and spoken
    communication skills, and maintain a blog at
    <a href="http://blog.zacharyvoase.com/">blog.zacharyvoase.com</a>.

%section#experience
  %h2 Experience &amp; References

  %p
    In the interest of confidentiality, I ask that you
    <a href="#contact">contact me</a> for specific information and a list of
    references.

%section#education
  %h2 Education

  %p
    I didn’t go to college or university, but I did graduate from high school
    in the summer of 2009. These were my results:

  %section#sat.results
    %h3 SAT
    %table
      %thead
        %th Test
        %th Date
        %th Score/800
      %tbody
        %tr
          %td SAT II: Math Level 2
          %td Dec 2008
          %td 800
        %tr
          %td SAT II: Physics
          %td Dec 2008
          %td 800
        %tr
          %td SAT I: Reading
          %td Nov 2008
          %td 760
        %tr
          %td SAT I: Writing
          %td Nov 2008
          %td 720
        %tr
          %td SAT I: Math
          %td Nov 2008
          %td 780

  %section#a-levels.results
    %h3 A-Levels
    %table
      %thead
        %th Subject
        %th Level
        %th Year
        %th Grade
      %tbody
        %tr
          %td Further Mathematics
          %td A2
          %td 2009
          %td A
        %tr
          %td Further Mathematics
          %td AS
          %td 2009
          %td A
        %tr
          %td Biology
          %td A2
          %td 2009
          %td A
        %tr
          %td Mathematics
          %td A2
          %td 2008
          %td A
        %tr
          %td Biology
          %td AS
          %td 2008
          %td A
        %tr
          %td English Literature
          %td AS
          %td 2008
          %td A
        %tr
          %td Physics
          %td AS
          %td 2008
          %td A
        %tr
          %td Mathematics
          %td AS
          %td 2007
          %td A
        %tr
          %td Spanish
          %td AS
          %td 2007
          %td A
