Options +FollowSymlinks +MultiViews
RewriteEngine on
RewriteRule ^openid$ openid.config.php

AddOutputFilterByType DEFLATE text/html application/xhtml+xml text/css text/javascript
FileETag MTime Size

SetEnvIf Authorization "(.*)" PHP_AUTH_DIGEST=$1

<Files "openid.php">
  Order Deny,Allow
  Deny from all
</Files>

<FilesMatch "\.html$">
  ForceType 'application/xhtml+xml; charset=UTF-8'
</FilesMatch>
