@import "compass/utilities/general/clearfix";
@import "_border-radius";
@import "_colors";


@mixin container {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin section {
  margin: 0 auto;
  width: 640px;
}


body, html {
  background-color: $teal;
}

#header-container {
  @include container;
  
  #header {
    @include section;
    
    h1 {
      background-color: $light-teal;
      background-image: url(/media/img/header.png);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -999em;
      height: 264px;
      width: 640px;
      margin: 0;
      padding: 80px 0;
    }
  }
}

#content-container {
  @include container;
  
  background-color: #fff;
  border-top: 8px solid $teal;
  border-bottom: 8px solid $teal;
  
  #content {
    @include section;
    
    padding: 20px 20px 0 20px;
    width: 640px - (20px * 2);
    
    p { margin-bottom: 20px; }
  }
}

#footer-container {
  @include container;
  
  #footer {
    @include section;
    @include border-radius-bottom(10px);
    background-color: $light-teal;
    height: 100px;
  }
}
